SUPABASE_URL=https://staiksghhxqkxuqcmtiu.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN0YWlrc2doaHhxa3h1cWNtdGl1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMzOTQ0NzYsImV4cCI6MjA4ODk3MDQ3Nn0.XZQDqZNxZWIWhPanKcuc1-7mU-r5HSPcI7kS1UXV1Q4
BASE_URL=http://localhost:3000
